@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

::-webkit-scrollbar{
  display: none;
}

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #303030 !important;    
}

.logo{
    transition: 0.2s;
}


.logo:hover{
    transform: rotateZ(-10deg);
    scale: 120%;
}


.nav-link{
    margin-left: 10px !important;
    color: #5ef0ceda !important;
    transition: 0.4s !important;
}

.nav-link:hover{
    transform: rotateZ(-10deg);
    /* scale: 105%; */
    background-color:#5ef0ceda ;
    color: #303030 !important;
    border-radius: 5%;
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.2), inset -2px -2px 5px 0 rgba(255, 255, 255, 0.5);
}


.dropdown {
    position: relative;
    display: inline-block;
    transition: 2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 50px;
}

.dropdown-content a {
    /* color: black; */
    border-radius: 999px;
    padding: 5px;
    width: 40px;
    margin-top: 5px;
    text-decoration: none;
    display: block;
    }

.dropdown-content a:hover {
    border-radius: 999px;
}

.dropdown:hover .dropdown-content {display: block;
    transform: rotateZ(10deg);}

footer{
    color: #5ef0ceda;
}

.h1{
    color: #5ef0ceda !important;
    font-family: 'Instrument Serif', serif;
}

.orange{
    background-color: #f98408;
    color: #f98408 ;
}

.divider{
    width: 50%;
    height: 1px;
    background-color: #f98408;
  }
  

svg{
    cursor: pointer;
}

:root {
    --dark-color: #f98408;
    --light-color: #5ef0ceda;
}
  
#Gear1 {
    fill: var(--dark-color);
    transform-origin: center;
    transform-box: fill-box;
}

#Gear2 {
    fill: var(--light-color);
    transform-origin: center;
    transform-box: fill-box;
}

svg:hover #Gear1{
    animation: spin 3s infinite linear;
}


svg:hover #Gear2{
    animation: spinAlt 3s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotateZ(0deg);
    }
    20%{
        transform: rotateZ(360deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes spinAlt {
    0%{
        transform: rotateZ(0deg);
    }
    20%{
        transform: rotateZ(-360deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

.col{
    display: flex;
    flex-direction: column;
    width: 23% !important;
    margin: 0 5px;
    box-shadow: inset 22px 22px 43px #292929,
            inset -22px -22px 43px #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    transition: 0.5s;
}

.icons{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 70px;
    height: 80px;
    background: #707070;
    text-align: center;
    padding: 10px;
    transform: rotate(318deg) skew(199deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  }


  .icons::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #444444;
    transition: 0.5s;
    transform: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
  }

  .icons::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #444444;
    transition: 0.5s;
    transform: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
  }

  .col:hover .icons{
    transform: skew(5deg) translate(20px, -50px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    animation: bobble 1s 0.4s infinite linear;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }

  .col:hover .progress{
    opacity: 1;
  }

  .icons svg{
    transition: 0.5s;
  }

  .col:hover .icons svg{
    fill: white;
  }

  
  .col:hover #html{
    background-color: #E44D26;
  }
  .col:hover #html::before{
    background-color: #e44c26a6;
  }
  .col:hover #html::after{
    background-color: #e05a38;
  }
  

  .col:hover #css{
    background-color: #3595CF;
  }
  .col:hover #css::before{
    background-color: #3594cfa4;
  }
  .col:hover #css::after{
    background-color: #58a3d2;
  }
  

  .col:hover #bootstrap{
    background-color: #6E10EE;
  }
  .col:hover #bootstrap::before{
    background-color: #6c10eeaa;
  }
  .col:hover #bootstrap::after{
    background-color: #7521ea;
  }
  

  .col:hover #tailwind{
    background-color: #36B7F0;
  }
  .col:hover #tailwind::before{
    background-color: #36b8f0b8;
  }
  .col:hover #tailwind::after{
    background-color: #30b2ea;
  }
  

  .col:hover #javascript{
    background-color: #EFD81D;
  }
  .col:hover #javascript::before{
    background-color: #efd61dc5;
  }
  .col:hover #javascript::after{
    background-color: #e9d53f;
  }
  

  .col:hover #react{
    background-color: #00D1F7;
  }
  .col:hover #react::before{
    background-color: #00d2f7c6;
  }
  .col:hover #react::after{
    background-color: #14d5f7;
  }
  

  .col:hover #java{
    background-color: #E52024;
  }
  .col:hover #java::before{
    background-color: #e52023cb;
  }
  .col:hover #java::after{
    background-color: #e73538;
  }
  

  .col:hover #cs{
    background-color: #964D91;
  }
  .col:hover #cs::before{
    background-color: #964d91c6;
  }
  .col:hover #cs::after{
    background-color: #955591;
  }
  
 .col1:hover{
    background-color: #e44c2682;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #e6613f;
 }
  
 .col2:hover{
    background-color: #3594cf5d;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #4299cf;
 }
  
 .col3:hover{
    background-color: #6c10ee89;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #7a29ec;
 }
  
 .col4:hover{
    background-color: #36b8f07c;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #4bc2f5;
 }
  
 .col5:hover{
    background-color: #efd61d7b;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #f0db3a;
 }
  
 .col6:hover{
    background-color: #00d2f788;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #23d7f7;
 }
  
 .col7:hover{
    background-color: #e5202388;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #e33538;
 }
  
 .col8:hover{
    background-color: #964d9195;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #965892;
 }

 @keyframes bobble {
    10%{
        transform:skew(5deg) translate(20px, -50px);
    }
    50%{
        transform:skew(5deg) translate(20px, -30px);
    }
    100%{
        transform:skew(5deg) translate(20px, -50px);
    }
 }

 .progress #html,.progress #css,.progress #bootstrap,.progress #tailwind,.progress #javascript,.progress #react,.progress #java,.progress #cs{
  background-color: #30303064;
 }

 .progress #javascript, .progress #react{
  color: #303030;
 }

 .progress{
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  transform:  skew(210deg) translate(0, 0);
  opacity: 0.04;
  transition: all 0.5s;
  background-color: #30303080 !important;
  height: 25px !important;
 }
 
 .text-shadows{
  transition: 0.5s;
  border-radius: 10px;
  
 }

 .text-shadows:hover {
  background-color: #f98408;
  box-shadow: inset 8px 8px 10px 0 rgba(67, 67, 67, 0.2), inset -8px -8px 15px 0 rgba(157, 156, 156, 0.253);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 #e4b14c;

  text-shadow: 1px 1px 1px #5ef0ceda,
  1px 2px 1px #5ef0ceda,
  1px 3px 1px #5ef0ceda,
  1px 4px 1px #5ef0ceda,
  1px 5px 1px #5ef0ceda,
  
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}

.asterisk{
  color: #f98408;
}

.bgs button{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #303030;
  box-shadow:  5px 5px 15px #252525,
             -5px -5px 15px #3b3b3b;
             border: none;
             transition: 0.2s;
}

.bgs button:hover{
  background: linear-gradient(145deg, #2b2b2b, #333333);
  box-shadow:  5px 5px 15px #252525,
             -5px -5px 15px #3b3b3b;
}




.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  background: #f98408;
box-shadow: inset 5px 5px 10px #d97307,
            inset -5px -5px 10px #ff9509;


}
.dropend .dropdown-toggle::after, .dropstart .dropdown-toggle::before {
  display: none !important;
}

.dropdown-menu.show{
  color: #5ef0ceda ;
  font-family: 'Instrument Serif', serif;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: #303030;
  box-shadow: inset 12px 12px 23px #292929,
            inset -12px -12px 23px #373737;
  width: 500px !important;
  transition: 0.2s;
  text-align: center;
  margin: 0px 100px !important;
}

.clickMe{
  color: #f98408 !important;
}

@keyframes bobble2 {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

.downArrow{
  cursor: default;
  animation: bobble2 1s infinite linear;
}